*{
  box-sizing:border-box;
}

html, body{
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  height:100%;
  width:100%;
  margin:0;
}

body{
  padding:1em;
}

label{
  border: 1px solid #ccc;
  padding: .25em .5em;
  display:inline-block;
  border-radius: 3px;
  cursor: pointer;
}

h1{
  text-align: center;
  margin:0;
  padding:0 1em;
  font-size:4em;
  letter-spacing: -.025em;
  position:absolute;
  left:0;
  top:50%;
  width:100%;
  transform: translateY(-50%);
}

input[type="checkbox"]{
  display:none;
}

:checked + label{
  background:#000;
  color:#fff;
  border: 1px solid #000;
}

.inline-block{
  display:inline-block;
  margin: .25em;
}

.bottom-right{
  position:absolute;
  bottom:1em;
  right:1em;
  font-weight:bold;
}
