*
{
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
  font-size:inherit;
  font-family:inherit;
  background-color:transparent;
}
body,html
{
  font-family:"Futura";
  color:white;
  font-size:0;
  position:relative;
  width:100%;
  height:100%;
}
div
{
  position:relative;
}

h1, #currentSlip
{
  font-size:72px;
  text-align:center;
}
textarea,input,button,label,ul
{
  font-size:12px;
  color:white;
}
a,button,label
{
  cursor:pointer;
}
button,label
{
  display:block;
  text-align:center;
}
button,label,input,textarea
{
  padding:10px;
}
input[type="checkbox"],
input[type="radio"]
{
  display:block;
  width:1px;
  height:1px;
  padding:0;
  overflow:hidden;
  opacity:0.01;
  position:absolute;
}

body
{
  background-color:#000;
}
#side
{
  position:absolute;
  top:0;
  left:0;
  width:260px;
  z-index:99;
  min-height:100%;
  background-color:rgba(10,30,50,0.7);
  padding:0px 10px;
  padding-left:60px;
}
#side>div
{
  margin-top:10px;
  border-radius:5px;
}
textarea
{
  height:100px;
}
textarea, button, label
{
  display:block;
  width:100%;
  border-radius:5px;
  resize:none;
}
textarea:focus,
button:focus
{
  outline:0;
}
#side a,
textarea, button, label
{
  background-color:rgba(15,35,55,0.95);
}
#side a:hover,
button:hover,
input:checked+label,
.select label:hover
{
  background-color:#345;
}

#side a
{
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  height:100%;
  width:50px;
}

#side
{
  left:-260px;
}
#side:target
{
  left:0;
}
#side a#toggleOff,
#side:target a#toggleOn
{
  display:none;
}
#side:target a#toggleOff
{
  display:block;
}

#amntLeft
{
  position:fixed;
  top:0;
  right:0;
  color:#ccd;
  font-size:24px;
}

#side>div,
.select
{
  height:35px;
}
.select
{
  display:block;
  width:100%;
  border-radius:5px;
  position:absolute;
  overflow:hidden;
}
.select:hover
{
  height:auto;
  z-index:100;
  box-shadow:0px 0px 10px 0px #ccc;
}
.select li
{
  display:block;
}
.select label
{
  display:none;
  border-radius:0;
}
.select:hover label,
.select input:checked + label
{
  display:block;
}

#display
{
  cursor:pointer;
  margin:0 auto;
  max-width:1000px;
}
#display:hover
{
  color:#ccf;
}
::selection
{
  background-color:transparent;
}
#currentSlip
{
  border:1px dashed #192939;
  border-width:5px 0;
  padding:.3em 2em;
  margin:.3em 0;
}

footer
{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  z-index:200;
}
